*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Parent{
    height: 350px;
    width: 450px;
    border: 1px solid red;
    margin: 10% auto 0 auto;
}

#select{
    width: 100px;
}

#btn{
    width: 70px;
    height: 40px;
}

#card{
    height: 200px;
    width: 100%;
    
}

#card-info img{
    background: black;
    min-width: 50%;
    min-height: 200px; 
    margin: 0 auto;
}

#card-info{
    display: flex;
    justify-content: center;
    
}

#Info{
    border: 1px solid silver;
    height: 130px;
}

#Info-1, #Info-2{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    font-family:'Lucida Sans';
}

